.header{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

p{
  font-size: larger;
  margin-top: auto;
}
body {
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }
  .btn-close{
    background-color:white;
    border: none;

  }
  span{
    margin:5% ;
    font-size: 20px;
    font-weight: bold;
  }

  .owl-carousel{
    align-content: center;
    position: fixed;
    bottom: -1%;
    left: 5vw; 
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background-color:;
    opacity: 90%;
    z-index: 1;
    cursor: pointer;
  }